<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
    {{> navbar}}
    <h1>About</h1>
    <pr>Welcome to our blood donation site! We are a platform dedicated to promoting and facilitating blood donation worldwide. Our goal is to increase awareness about the importance of blood donation and to provide a safe and convenient way for donors to give the gift of life to those in need.
        <br>We understand the critical role that blood donation plays in saving lives and supporting healthcare systems. That's why we work tirelessly to connect donors with blood centers and hospitals in their local communities, making it easier for them to donate blood and make a meaningful difference in someone's life.
        <br>Our team consists of passionate and dedicated individuals who are committed to improving access to blood donation and ensuring that the process is as seamless as possible for both donors and recipients. We are proud to work with blood banks, hospitals, and other organizations to ensure that everyone has access to safe and reliable blood when they need it.
        <br>We invite you to join us in our mission to save lives and make a positive impact on the world. Whether you're a regular donor or just starting, we are here to support you every step of the way. Thank you for choosing to donate blood and for being a part of our community!</pr>
    {{> footer}}   
    </div>
</body>
</html>