<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Contact</title>
</head>
<body>
    <div id="container">
    {{> navbar}}
    <h1>Contact Us</h1>
    <h3>Phone Number: 1234567890</h3>
    <h2>You can come to our facility at location below:</h2>
    <iframe style="margin-left: 5%;
        width: 80%; height: 300px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2881.0079371984007!2d-79.71130702416404!3d43.772694071096666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3d3af39471dd%3A0x698b196ad027d167!2s11%20Villagewood%20St%2C%20Brampton%2C%20ON%20L6P%202C4!5e0!3m2!1sen!2sca!4v1681430887740!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    {{> footer}}
    </div>
</body>
</html>