<footer>
  <div class="footer-content">
    <ul>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Site Map</a></li>
    </ul>
    <div class="footer-logo">
      <a href="#">Blood Bank App</a>
    </div>
  </div>
</footer>