<div class="header">
  <div class="navbar">
    <img class="app-logo" src="bd_logo.png" alt="logo"> 
    <ul>
      <li><a href="/index">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/donate_blood">Donate Blood</a></li>
      <li><a href="/find_blood">Find Blood</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul> 
    <div class="login-register">
      <ul>
        <li><a href="/login">login</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>                                    
  </div>
</div>