<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Blood Donation Website</title>
</head>
<body>
  <div id="container">
  {{> navbar}}
  <div class="welcome">
  <div class="welcome-para"><pr><h1>Welcome</h1><br>
  to our blood donation website, where you can make a life-saving difference in someone's life. Blood donation is a selfless act that helps save lives and support the healthcare system in times of need. Our website is dedicated to connecting donors with those in need of blood transfusions, and providing information about the donation process.
<br>
Blood is a precious resource that cannot be manufactured, and there is always a constant need for it. Through our platform, you can learn about the different types of blood donations and their impact, as well as the eligibility requirements for donating blood. You can also schedule an appointment to donate blood at a convenient location near you, and track your donations over time.
<br>
Join us in our mission to help others by donating blood today. Your donation can make a difference in someone's life and help save a life. Thank you for visiting our website and considering becoming a blood donor.

</pr></div>
  <div class="welcome-img"><img class="welcome-img" src="index_img.jpg" alt="welcome image"></div>
  </div>
  {{> footer}}
  </div>
</body>
</html>